services:
  - type: web
    name: jobbox
    env: php
    buildCommand: "composer install --no-dev --optimize-autoloader && php artisan config:cache"
    startCommand: "php artisan serve --host=0.0.0.0 --port=$PORT"
    envVars:
      - key: APP_ENV
        value: production
      - key: APP_DEBUG
        value: false
      - key: DB_CONNECTION
        value: pgsql
      - key: DB_HOST
        fromDatabase:
          name: jobbox-db
          property: host
      - key: DB_PORT
        fromDatabase:
          name: jobbox-db
          property: port
      - key: DB_DATABASE
        fromDatabase:
          name: jobbox-db
          property: database
      - key: DB_USERNAME
        fromDatabase:
          name: jobbox-db
          property: user
      - key: DB_PASSWORD
        fromDatabase:
          name: jobbox-db
          property: password
    autoDeploy: true

databases:
  - name: jobbox-db
    ipAllowList: []