services:
- type: web
  name: jobbox
  env: docker
  dockerfilePath: Dockerfile
  envVars:
    - key: APP_KEY
      generateValue: true
    - key: DB_HOST
      fromDatabase:
        name: jobbox-db
        property: host
    - key: DB_PORT
      fromDatabase:
        name: jobbox-db
        property: port
    - key: DB_USER
      fromDatabase:
        name: jobbox-db
        property: username
    - key: DB_PASS
      fromDatabase:
        name: jobbox-db
        property: password
    - key: DB_NAME
      fromDatabase:
        name: jobbox-db
        property: databaseName
    - key: REDIS_URL
      fromService:
        name: jobbox-redis
        type: redis
        property: connectionString

databases:
- name: jobbox-db
  region: frankfurt
  plan: free

- type: redis
  name: jobbox-redis
  region: frankfurt
  plan: free