services:
  - type: web
    name: jobbox-app
    env: docker
    plan: starter
    region: oregon
    buildCommand: echo "Docker build handles everything"
    startCommand: echo "Docker CMD handles startup"
    envVars:
      - key: DATABASE_URL
        value: postgresql://tgne_jobs_user:XdzscXrqwHY7EQKzkd8OhHzMeHoNI83Q@dpg-d5tq7mili9vc73a0lhe0-a/tgne_jobs
      - key: DB_HOST
        value: dpg-d5tq7mili9vc73a0lhe0-a
      - key: DB_PORT
        value: 5432
      - key: DB_DATABASE
        value: tgne_jobs
      - key: DB_USERNAME
        value: tgne_jobs_user
      - key: DB_PASSWORD
        value: XdzscXrqwHY7EQKzkd8OhHzMeHoNI83Q
      - key: APP_NAME
        value: JobBox
      - key: APP_ENV
        value: production
      - key: APP_DEBUG
        value: true
      - key: APP_KEY
        generateValue: true
      - key: APP_URL
        value: https://tgne-jobs-yi40.onrender.com
      - key: APP_TIMEZONE
        value: UTC
      - key: LOG_CHANNEL
        value: stderr
      - key: LOG_LEVEL
        value: debug
      - key: DB_CONNECTION
        value: pgsql
      - key: SESSION_DRIVER
        value: database
      - key: CACHE_DRIVER
        value: file
      - key: CACHE_STORE
        value: file
      - key: SESSION_DRIVER
        value: database
      - key: QUEUE_CONNECTION
        value: sync
      - key: BROADCAST_DRIVER
        value: log
      - key: FILESYSTEM_DISK
        value: cloudinary
      - key: MEDIA_DRIVER
        value: cloudinary
      - key: CLOUDINARY_CLOUD_NAME
        sync: false
      - key: CLOUDINARY_API_KEY
        sync: false
      - key: CLOUDINARY_API_SECRET
        sync: false
      - key: MAIL_MAILER
        value: log
      - key: MAIL_HOST
        value: localhost
      - key: MAIL_PORT
        value: 25
      - key: MAIL_FROM_ADDRESS
        value: noreply@jobbox-app.onrender.com
      - key: MAIL_FROM_NAME
        value: JobBox
      - key: CMS_LICENSE_VERIFY_DISABLE
        value: true
      - key: CMS_LICENSE_ACTIVATED
        value: true
      - key: CMS_DISABLE_VERIFICATION
        value: true
      - key: CMS_DISABLE_UPDATE_CHECK
        value: true
      - key: CMS_DISABLE_WARNING_MESSAGES
        value: true
      - key: CMS_ENABLE_INSTALLER
        value: false
      - key: ADMIN_DIR
        value: admin
      - key: IS_LOCALHOST
        value: false