services:
  - type: web
    name: tgne-jobs
    env: docker
    plan: free
    envVars:
      - key: APP_NAME
        value: JobBox
      - key: APP_ENV
        value: production
      - key: APP_DEBUG
        value: false
      - key: APP_URL
        value: https://tgne-jobs.onrender.com
      - key: APP_KEY
        generateValue: true
      - key: LOG_CHANNEL
        value: stderr
      - key: DB_CONNECTION
        value: pgsql
      - key: DB_URL
        fromDatabase:
          name: tgne-jobs-db
          property: connectionString
      - key: SESSION_DRIVER
        value: database
      - key: CACHE_STORE
        value: database
      - key: PHP_INI_MEMORY_LIMIT
        value: 512M
      - key: QUEUE_CONNECTION
        value: sync
      - key: CMS_ENABLE_INSTALLER
        value: false

databases:
  - name: tgne-jobs-db
    databaseName: tgne_jobs
    user: tgne_user
    plan: free